@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --Pink: hsl(322, 100%, 66%);
    
    --Very-Pale-Cyan: hsl(193,100%, 96%);
     --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 100%;
}
.top-section {
    background: url(./images/bg-hero-mobile.svg);
    background-size: contain;
    background-color: var(--Very-Pale-Cyan);
}
header {
    display: flex;
    padding: 1.25rem 1rem;
    justify-content: space-between;
}
.logo {
    max-width: 30%;
    align-self: center;
}
.button1 {
    font-family: inherit;
    font-weight: 700;
    font-size: 0.85rem;
    background-color: white;
    border: 0;
    padding: 0.35rem 1.5rem;
    border-radius: 25px; 
    box-shadow: 0px 1px 28px 2px rgba(0, 0, 0, 0.1);
}

.main-content {
    padding: 2rem 1rem;
    text-align: center;
}
.pink-button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--Pink);
    color: white;
    border: 0;
    border-radius: 25px;
    padding: 0.75rem 3rem;
    margin: 1.2rem 0 3.5rem 0;
    box-shadow: 5px 7px 29px -11px #fd5ac1;
}

.sec2 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 1rem;
    text-align: center;
    padding: 1.75rem;
}
h2 {
   font-size: 1.5rem; 
   margin-top: 1.5rem;
   font-weight: 600;
}
.content{
    font-size: 1rem;
    color: var(--Grayish-Blue);
}

footer {
    background-color: var(--Very-Dark-Cyan);
    color: white;
    display: flex;
    flex-direction: column;
}

.get-started {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0rem 0.8rem 5rem 0.8rem;
    text-align: center;
    padding: 1rem 0.75rem;
    position: relative;
    margin-bottom: -4rem;
}


h3 {
    color: black;
    font-size: 1.15rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.button3 {
    margin-bottom: 25px;
    box-shadow: 5px 7px 12px -2px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    font-weight: 600;

}
.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 9.5rem 1.5rem 1rem 1.5rem; 
}
.logo2 {
    filter: brightness(0) invert(1);
    max-width: 40%;
    margin-bottom: 20px;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 8fr;
    margin: 1.5rem auto;
}

.icon {
    align-self: center;
}
.about-content {
    font-size: 1rem;
}
.align {
    margin-top: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    line-height: 2.75rem;
}
.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.socicon {
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-flex;
    width: 2.25rem;
    height: 2.25rem;
    align-items: center;
    justify-content: center;      
}
.socicon:not(:last-child) {
    margin-right: 0.5rem;
}
.copyright {
    font-size: 0.75rem;
    text-align: center;
}
button:hover {
    cursor: pointer;
    opacity: 0.75;
}
li:hover {
    cursor: pointer;
    text-decoration: underline;
}
.socicon:hover {
    cursor: pointer;
    color: var(--Pink);
    border: 1px solid var(--Pink);
}

@media (min-width: 700px) {
    .top-section{
        padding: 1rem;
    }
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        gap: 1.5rem;
        align-items: center;
        font-size: 15px;
    }
    
    .card {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .card-img {
        order: 2;
        max-width: 40%;
    }
    .content {
        order: 1;
        max-width: 80%;
    }
    .left {
        order: 0;
        margin-right: 5rem;
    }

    .get-started {
        width: 70%;
        align-self: center;
    }
   
    
    .nav {
        margin-left: 0;
        grid-template-columns: 0.5fr 10fr;
    }
    .info {
        display: inline-flex;
        margin: 2rem auto 0 auto;
    }
    ul {
        display: flex;
        gap: 3rem;
    }
    .align {
        max-width: 40%;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 1.25rem 3.5rem;
    }
    .main-content {
        padding: 2rem 3.5rem;
        grid-template-columns: 1fr 1.5fr;
    }
    .mockup {
        max-width: 85%;
        justify-self: center;
    }
    h1 {
        font-size: 2.25rem;
    }
    .cntn p {
        font-size: 1.2rem;
    }
    .button1 {
        padding: 0.45rem 2.25rem;
    }
    .card {
        justify-content: space-evenly;
        margin: 0 2.5rem;
    }
    .card-content {
        max-width: 45%;
    }
    .get-started {
        width: 35%;
        align-self: center;
        padding: 1rem 0;
    }
    .logo2 {
        margin-bottom: 0%;
        max-width: 60%;
    }
    
    .about {
        margin-left: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

    .nav {
        grid-column: 1 / 2;
        gap: 0.75rem;
        margin-top: 0;
        margin-right: 3rem;
    }
    .align {
        max-width: 100%;
    }
    .info {
        margin-top: 0;
        
    }
    ul {
        display: block;
        columns: 2;
        margin-top: 0;
        font-size: 16px;
    }
    .list-alignment {
        margin-left: 3rem;
    }
    .socicon {
        display: inline-flex;
    }
    
}